@{
    ViewBag.Title = "ErrorResult";
}
<section>
	<div>
		<h2 align="center">This ID is not found, check the correctness of the entered data and try again!</h2>
	</div>
	<div style="width: 100%; text-align: center">
		<img style="margin: auto" src="~/Images/error.png" />
	</div>
</section>